{
  "trailingComma": "all",
  "printWidth": 140,
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "importOrder": [
    "^fs$",
    "<THIRD_PARTY_MODULES>",
    "^@(common|components|navigation|cypress-tasks|export-management|screens|user-settings)/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": false,
  "importOrderParserPlugins": [
    "typescript",
    "decorators-legacy"
  ],
  "overrides": [
    {
      "files": ".prettierrc",
      "options": {
        "parser": "json"
      }
    },
    {
      "files": "*.scss",
      "options": {
        "singleQuote": false
      }
    },
    {
      "files": "*.html",
      "options": {
        "printWidth": 110
      }
    },
    {
      "files": "*.yml",
      "options": {
        "singleQuote": true
      }
    }
  ]
}
